@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #0093b8 ;
    --primary-color-dark: #566269;
    --text-dark: #0f172a; 
    --text-light: #647464; 
    --extra-light: #f5f3ff; 
    --paragraph-light-text: #ffffff; 
    --test-blue: #76cdff;
    
}

body{
font-family: 'Open Sans', sans-serif;
display: flex;
flex-direction: column;
min-height: 100vh;
}

nav{
    padding: 1.5rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--text-dark);
}

.nav__logo{
    color: var(--primary-color);
}

.nav__links{
    list-style: none;
    display:flex ;
    align-items: center ;
    -ms-flex-align: stretch;
    gap: 14rem;
}

.nav__link {
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    color: var(--text-light);
    transition: 0.3s;
}

.nav__link:hover {
   color: var(--primary-color); 
}

.social__icons{
    display: flex;
    align-items:center;
    gap: 1rem;
}

.social__icons .icon {
    width: 3rem;
aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 1.25rem;
    color: var(--primary-color-dark);
    background-color: var(--extra-light);
    cursor: pointer;
    transition: 0.3s;
}

.social__icons .icon i{
    transition: 0.3s;
}

.social__icons .icon:hover{
    box-shadow: 0px 5px 15px var(--extra-light);
}

.social__icons.icon:hover i{
    scale: 1.2;
}

.background-image {
flex: 1;
background-image: url("assets/Personal Photo BG Image.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height: 100vh;
}

.container{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%,-50%);
    max-width: 500px;
    display: grid;
    gap: 1.5rem;
    justify-content: center;
    margin-top: 2%;
}

.container h1{
    display: flex;
    font-size: 4rem;
    font-weight: 700;
    color: var(--paragraph-light-text);
    padding: 5%
    
}

.container h1:hover{
    background: #4b555a;
    color: var(--test-blue);
    margin: auto;
    transition: .9s;
}

.container p{
    font-size: 1.7rem;
    font-weight: 200;
    color: var(--paragraph-light-text);
    padding: 5%;
    justify-content: baseline;
}

.container p:hover{
    background: #4b555a;
    color: var(--test-blue);
    margin: auto;
    transition: .9s;
}

form input{
    padding: .75rem 1rem;
    width: 300px;
    font-size: 1 rem;
    outline: none;
    border: 1px solid var(--text-light);
    background-color: var(--extra-light);
}

form button{
    padding: .75rem 1rem;
    border: var(--test-blue);
    background: #4b555a;
    color: var(--test-blue);
    color: var(--extra-light);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.9;
}

form button:hover{
    background: #4b555a;
    border: 1px solid var(--primary-color-dark);
    color: var(--test-blue);
    margin: auto;
    transition: .9s;
}

.mainProject-container{
    display: flex;
    flex: auto;
    justify-content: right;
    background-color: #0f172a;
    border: #0093b8;
    border-width: 1px;
    outline-width: 1px;
    outline: #0093b8;
    outline-style: auto;
}

.mainProject{
    border: #0093b8;
    border-width: 1px;
    outline-width: 1px;
    outline: #0093b8;
    outline-style: auto;
}

h2{
    font-size: 370%;
    padding: 4%;
    color: var(--primary-color);
    justify-content: center;
    background-color: #0f172a;
}

.image-resize-mainProject{
    width: 1280px;
    object-fit: cover;
    object-position: center center;
}

.subproject-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    background-color: #0f172a;
    border: #0093b8;
    border-width: 1px;
    outline-width: 1px;
    outline: #0093b8;
    outline-style: auto;
    }

.subproject{
    border: #0093b8;
    border-width: 1px;
    outline-width: 1px;
    outline: #0093b8;
    outline-style: auto;
}

.image-resize{
    height: 246px;
    object-fit: cover;
    object-position: center center;
    width: 640px;
}

form{
    display: flex;
    justify-content: right;
    margin: auto;

}

h3{
    font-size: 370%;
    padding: 4%;
    color: var(--primary-color);
    justify-content: center;
}

h4{
    font-size: 100%;
    color: var(--primary-color); 
    justify-content: center;
    margin-right: 3%;
}

h5{
    font-size: 100%;
    justify-content: right;
    padding-right: 1%;
    padding-left: 10%;
    color: #0093b8;
}

h5:hover{    
    color: rgb(253, 163, 130);
    background-color: transparent;
    text-decoration: none;
    transition: 0.9s;
}

.Contact-container{
    display: flex;
    flex-shrink: 50%;
    justify-content: right;
    background-color: #0f172a;
    border: #0093b8;
    border-width: 1px;
    outline-width: 1px;
    outline: #0093b8;
    outline-style: auto;
    margin: auto;
}

footer{
    display: flex;
    background-color: #0f172a;
  justify-content: center;
    border: #0093b8;
    border-width: 1px;
    outline-width: 1px;
    outline: #0093b8;
    outline-style: auto;
}